---
import Layout from '../layouts/Layout.astro';
import ArtistsSection from '../components/ArtistsSection';
---

<Layout title="Nuestro Equipo | Cuervo Rosa Studio">
  
  <div class="pt-20 bg-secondary-dark"></div>

  <ArtistsSection client:load />

</Layout>