---
import AdminLayout from '../../layouts/AdminLayout.astro';
import AgendaCalendar from '../../modules/admin/components/AgendaCalendar';
---

<AdminLayout title="Agenda & Citas">
    <div class="h-full">
        <AgendaCalendar client:only="react" />
    </div>
</AdminLayout>